.nowplaying {
    width: 60%;
    margin: 0px auto;
    height: 30%;
    border-radius: 10px;
    background-color: #323232;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-between;
}

.imageContainer {
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.image {
    border-radius: 10px;
    width: 40%;
    height: 80%;
}

.header {
    color: #fff;
    display: block;
}